 header {
   height: 520px;
   width: 100%;
   display: flex;
   
   flex-direction: column;
   justify-content: end;
   align-items: center;
   background-color: orange;
   background-image: url('../images/background-image.png');
 }