.header {
  height: 400px;
  display: flex;

  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: orange;
  background-image: url('../images/background-image.png');
  background-clip: content-box;
}