nav {
  display: flex;
  flex-direction: row;
  top:0;
  left:0;
  height: 120px;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

nav span {
  text-align: center;
}

nav .logo {
  font-family: 'Bungee', sans-serif;
  font-size: larger;
}

nav .slogon {
  margin-right: 3em;
}