.new-tweet {
  width: 100%;
  margin-top: 20px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-tweet label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: larger;
  align-self: flex-start;
  margin-bottom: 10px;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  font-size: smaller;
  background-color: #4056A1;
  color: #FFFFFF;
}

#tweet-text {
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  background-color: #f4f1ec;
  font-size: smaller;
  font-weight: bold;
  line-height: normal;
  height: 2.5em;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  padding-top: 1vw;
  font-family: 'Bungee', sans-serif;
  font-size: smaller;
}

.error-message-hide {
  border: 3px solid red;
  width: 100%;
  padding: 0.5vw;
  transform: translateY(0%);
  transition-timing-function: ease-in;
  transition: 1s;
  opacity: 0;
}

.error-message-show {
  width: 100%;
  transition: 1s;
  transition-timing-function: ease-out;

  transform: translateY(50%);
  opacity: 1;
}