.tweets-list {
  width: 100%;
}

article.tweet {
  display: flex;
  flex-direction: column;
  border: 3px solid #000000;
  width: 100%;
}

article.tweet:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

article.tweet>header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

article.tweet .user-info {
  display: flex;
  align-items: center;
}

article.tweet .tweet-username {
  font-size: smaller;
  width: 10em;
  text-align: start;
  padding: 0 1em;
}

.user-info img {
  width: 40px;
  height: 40px;
}

.tweet-handle {
  font-size:large;
  font-weight: bold;
  color: rgb(129, 129, 173);
}

article.tweet .content {
  display: flex;
  align-items: stretch;
  text-align: left;
  padding: 0 1em;
}

article.tweet p.content-text {
  border-bottom: 3px black solid;
  flex-grow: 1;
  margin: 0 auto;
  /* height: 5dvh; */
  font-size: smaller;
  font-weight: bold;
  overflow-wrap: break-word;
  overflow: hidden;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
  align-items: flex-start;
}

.tweet-date {
  font-size: small;
  font-weight: bold;
}

.tweet-icons i:hover {
  color: orange;
}

.tweet-icons i{
  font-size: medium;
  color: #4056A1;
}